swagger: '2.0'
info:
  title: Vandelay Industries API
  description: |
   [Vandelay Industries](http://www.urbandictionary.com/define.php?term=Vandelay) is a vertically integrated chemical manufaturing, import/export, and sales enterprise headquartered in the Upper West Side, NYC. It was founded by Art Vandely in 1990.
   
   It is known both for the quality of its product as well as its aggressive salesperson recruiting program.
   
   The Vandelay Industries API platform, documented here, represents a unified view of its ERP and CRM systems for use by both internal applications and 3rd-party strategic partner system integrations.
    
        
  version: 0.0.1
host: vandelay.apivista.com
schemes:
  - https
  - http
basePath: /v1
produces:
  - application/json
paths:
  /factories:
    get:
      tags: [real estate]
      summary: List factories in the ERP system
      description: The factory is an important top-level object for tracking both manufacturing activities as well as supply chain & order fulfillment, underpinning Vandelay's import/export business.
      operationId: getFactories
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/Factory"
              
              
definitions:
  Factory:
    type: object
    properties:
      factoryId:
        type: integer
        format: int64
      factoryName:
        type: string
        example: Newark Latex Mfg.
      factoryDescription:
        type: string
        example: Key East Coast shipping/receiving location for raw latex material to be processed into final products for the medical industry.
      factoryAddress:
        $ref: "#/definitions/Address"
        
  Address:
    type: object
    properties:
      buildingName:
        type: string
      streetLine1:
        type: string  
      streetLine2:
        type: string
      city:
        type: string
      stateProvince:
        type: string
      zipPostalCode:
        type: string
      country:
        type: string
        
        